doctype html
html
  head
    title Blog App
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Martel+Sans" rel="stylesheet")

  body
    nav.navbar.navbar-default.nav
      .container
        .navbar-header
          a.navbar-brand(href='#') BLOG
        ul.nav.navbar-nav
          li
            a(href='#') Home
          li.active
            a(href='/allposts') All posts
          li
            a(href='/profile') Profile
        ul.nav.navbar-right
          li
            a(href='/logout')
              span.glyphicon.glyphicon-user
              | Logout
  div.row.details
    div.col-lg-2
    div.col-lg-8
      if posts
        each post in posts
          each user in users
            if user.id === post.userId
              .posts
                a.post(href=`/selected?selected=${user.id}`, style="font-family: 'Martel Sans', sans-serif;")(id= post) #{post.posts}
                span
                  h4(style="display:inline-block") - Posted by #{user.name} 
                  img(src=`${user.profilePicture}`,width='6%', style=" display:inline; border-radius:50%;" )  
          
          
      else
        p No posts to display
  .footer
      .container
        .rows
          div.col-lg-4
            p.copyrights copyrights @ 2017 All rights reserved
          div.col-lg-4
          div.col-lg-4
            a.mediaIcon(href="www.facebook.com" class="fa fa-facebook")
            a.mediaIcon(href="www.twitter.com" class="fa fa-twitter")
            a.mediaIcon(href="www.google.com" class="fa fa-google")


               
                            




