doctype html
html
  head
    title Blog App
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel="stylesheet", type="text/css", href="../css/style.css")
  body
    nav.navbar.navbar-default.nav
      .container
        .navbar-header
          a.navbar-brand(href='#') BLOG
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li
            a(href='/allposts') All posts
          li
            a(href='/profile') Profile
        ul.nav.navbar-right
          li
            a(href='/logout')
              span.glyphicon.glyphicon-user
              | Logout

    .container
      .rows
        .col-lg-4
        .col-lg-4
                  
          form.input-field-login(action='/users', method='POST', autocomplete='off', enctype='multipart/form-data')
            h2 Create Your Account
            input.fields(type='text', name='name', placeholder=" firstname or lastname")
            br
            br
            input.fields(type='text', name='email', placeholder="Email Address")
            br
            br
            input.fields(type='password', name='password', placeholder= "password")
            br
            br
            p Add a profile picture
            input.fields(type='file', name='profileImage', placeholder='Upload profile picture', required)
            br
            br
            button.btn_signup(type='submit', name="sign-up") Signup
            p.para Already registered!
            a.btn_login(href='/login', role='button') login
  